body {
    display: flexbox;
    width:100vw ;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;

}
header {
    width:100%;
    text-align:center;
    background-color: turquoise;
    margin: 0%;
    
}
#photo {
    display:inline-block;
    margin: 2%;
}
nav {
    display: flex;
    /*background-color:floralwhite;*/
    align-items: center;
   justify-content: space-between;
    
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
li {
    display: inline;
    margin: 6vw;
    transition: opacity 0.5s;
}
li:hover {
    opacity: 0.7;
    cursor: pointer;
}
li:active {
    opacity: .5;
}

@media (max-width: 640px) {
    body {
      text-align: center;
    }
  
    body nav {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8vh 0;
    }
  }